<!DOCTYPE html>
<html lang="es">
<head>
	  <meta charset="UTF-8">
	  <title>Portafolio.la</title>
	  <link rel="stylesheet" href="../static/css/normalize.css">
	  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#yo">Yo</a></li>
				<li class="MainMenu-item"><a  class="MainMenu-link" href="#perfil">Perfil</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajo">Trabajo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contácto</a></li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img src="avatar.jpg" alt="Avatar" class="Header-image"/>
			<figcaption class="Header-imageDescription"><a class="Header-link" href="http://twitter.com/loreleyxd/" target="_black">@LoreleyXD</a></figcaption>
			<p class="Header-name">Angela Carolina Pulido</p>
		</figure>
	</header>
	<section class="Profile">
		<h2 class="Profile-title u-title">Mi perfil</h2>
		<p class="Profile-description">Hola! Aqui te dejo mis redes sociales, contáctame!</p>
		<a class="Profile-link" href="http://twitter.com/loreleyxd/" target="_black">@LoreleyXD</a>
		<a class="Profile-link" href="https://github.com/LoreleyXD/" target="_black">@LoreleyXD</a>
		<a class="Profile-link" href="http://facebook.com/angela.c.pulido/" target="_black">Ángela Pulido</a>
	</section>
	<section class="Work">
		<h2 class="Work-title u-title">Mi trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="imagen.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption class="Work-description">Web site de portafolio</figcaption>
			</figure>
		</article>
				<article class="Work-item">
			<figure class="Work-imageContainer">
				<img src="imagen.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption class="Work-description">Web site de portafolio</figcaption>
			</figure>
		</article>		
		<article class="Work-item">
 			<figure class="Work-imageContainer">
				<img class="Work-image" src="imagen.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption class="Work-description">Web site de portafolio</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="imagen.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption class="Work-description">Web site de portafolio</figcaption>
			</figure>
		</article>
		<article class="Work-item"> 
			<figure class="Work-imageContainer">
				<img class="Work-image" src="imagen.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption class="Work-description">Web site de portafolio</figcaption>
			</figure>
		</article>
		<article class="Work-item">
 		<figure class="Work-imageContainer">
				<img class="Work-image" src="imagen.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption class="Work-description">Web site de portafolio</figcaption>
			</figure>
		</article>
	</section>
	<footer class="Footer">
		<h3 class="Footer-title">Contacto</h3>
		<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo, ponte en contacto</p>
		<form class="Footer-form">
			<input class="Footer-formInput" type="text" placeholder="Nombre"/>
			<input class="Footer-formInput" type="email" placeholder="Email"/>
			<textarea class="Footer-texarea" name="Mensaje" id="" cols="30" rows="10" placeholder="Motivo"></textarea>
			<button class="Footer-button" type="submit">Contactarme</button>
		</form>
	</footer>
</body>
</html>